.content {
	width: 843px;
	padding-top: 250px;
	padding-bottom: 180px;
	font-weight: 400;
	font-size: 26px;
	line-height: 26px;
	&__item {
		max-width: 843px;
		padding-bottom: 70px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__title {
		max-width: 843px;
		font-weight: 700;
		color: #A0A0A0;
		white-space: nowrap;
		overflow: hidden;
		span {
			color: #000;
		}
	}
	&__price {
		padding-top: 5px;
		font-size: 21px;
		line-height: 25px;
		color: rgba(#C2C2C2, 0.9);
	}
	&__page {
		min-width: 40px;
	}
}