.cover {
	width: 100%;
	padding-left: 245px;
	min-width: 100%;
	min-height: 100vh;
	background: url('../../images/01.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	&__top {
		width: 100%;
		padding-top: 285px;
		padding-bottom: 70px;
		font-weight: 700;
		font-size: 62px;
		line-height: 80px;
		color: #fff;
		text-transform: uppercase;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 1px;
			background: #fff;
		}
		span {
			text-transform: lowercase;
			font-weight: 350;
			font-size: 49.6134px;
			line-height: 64px;
			color: #AFAFAF;
		}
	}
	&__title {
		padding-bottom: 400px;
		font-weight: 700;
		font-size: 162px;
		line-height: 140px;
		color: rgba(#fff, 0.9);
	}
	&__logo {
		padding-bottom: 185px;
	}
}